.for-bg-color {
    /* background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: #f5cead;
    height: 936px;
}

.div-for-content {
    /* height: 60%; */
    padding-top: 6% !important;
    margin: 0 auto !important;
    width: 65% !important;
    display: flex;
}

.div-for-content>* {
    width: 40%;
    height: auto;
}

@media only screen and (max-width: 500px) {
    .img-style {
        height: 100% !important;
    }

    .div-rigth-side {
        height: 600px !important;
        width: 100% !important;
    }

}

@media only screen and (max-width: 1245px) {
    .div-for-content {
        display: inline !important;
    }

    .img-style {
        border-top-right-radius: 2%;
        border-bottom-right-radius: 2%;
        height: 300px !important;
        border-bottom-left-radius: 0% !important;
        border-top-left-radius: 0% !important;
    }

    .div-for-left-side {
        height: 32% !important;
        width: 65% !important;
    }

    .mx-div {
        margin-top: 4% !important;
        margin-bottom: 6% !important;
    }

    .div-rigth-side {
        width: 65%;
        height: 635px;
    }
}

.img-style {
    width: 100%;
    border-bottom-left-radius: 3%;
    border-top-left-radius: 3%;

}

.div-for-left-side {
    height: 60%;
    width: 60%;
}

.div-rigth-side {
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
    /* width: 45%; */
    background-color: black;
    padding: 4%;
    color: white;
}

.p-style {
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 700;
}

.input-style {
    width: 100%;
    border: none !important;
    border-bottom: 1px solid #646c74 !important;
    border-radius: 0px !important;
    color: white !important;
    padding: 0 !important;
    background-color: black !important;
}

.input-style-2 {
    margin-bottom: 7% !important;
}

.select-style {
    width: 100%;
    margin-top: 7%;
    color: rgb(255, 249, 249);
    margin: 14px auto;
    background-color: black;
}

.select-width {
    margin-top: 5%;
    width: 100% !important;
}

.mx-div {
    padding-left: 0 !important;
    margin-bottom: 7%;
}

.butt-style {
    font-weight: 600 !important;
    font-family: sans-serif !important;
    width: 45%;
    background-color: #f5cead !important;
    border: none;
    border-color: #f5cead !important;
    padding: 0.5rem 0.4rem !important;
    margin-top: 40px;

}

.p-margin {
    margin-top: 30px;
}

.a-style {
    color: #f5cead;
}

.a-style:hover {
    text-decoration: none;
    color: #f5cead;
}

.div-mar {
    margin-top: 10px !important;
}

.div-gap {
    gap: 2px;
}

.search-box {
    height: 50px;
    border-radius: 40px;
    padding: 3px;
}

.search-box:hover {
    background: #f5cead;
    width: 110px;
    padding: 0 3px;
}

.search-box:hover>.search-btn {
    background: black !important;
    transition: none;
    margin-top: 7px;
    color: white;
}

.search-btn {
    color: rgb(116, 112, 112);
    border: none;
    float: left;
    width: 38px;
    height: 36px;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 7px 3px;
    color: black;
    font-size: 16px;
    line-height: 31px;
    width: 0px;
}